/**
* @file reset.css
* @author Nelson Feliciano
* @css-for IE 5, IE 6, IE 7, IE 8, Safari 3, Safari 4, Firefox 2, Firefox 3
*/

/**
* @section reset styles
* Esse style reseta todas as propriedades que em default
*/

/**
* Seta todas as margens e paddings e bordas para 0
*/
*{
	margin: 0; 
	padding: 0; 
	border: 0;
	}

/**
* Seta todas as propriedades de texto, formulário, tabela em default para 0
*/
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, cite, em, font, img, q, s, samp, small, u, i, 
center, dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table,caption, tbody, tfoot, thead, tr, th, td {
	font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
	background: transparent;
	outline: none; 
	}

/**
* Seta os espaços entre as linhas de texto do documento para o valor de 1
*/
body { 
	line-height: 1; 
	}

/**
* Remove todo o estilo de decoração das listas do documento
*/
ol, ul { 
	list-style: none; 
	}

/**
* Remove todo o conteúdo gerado em torno das citações
*/
blockquote, q { 
	quotes: none; 
	}

blockquote:before, blockquote:after, q:before, q:after { 
	content: ''; 
	content: none; 
	}

/**
* Remove a linha do objeto em foco, essa propriedade pode ser configurada posteriormente em formulários
*/
:focus { 
	outline: 0; 
	}

/**
* Remove todo os estilos em default das tabelas
* Tabelas ainda precisa "cellspacing = "0 "" na marcação
*/
table { 
	border-collapse: collapse; 
	border-spacing: 0; 
	}

/**
* Remove todo o estilo em default de citações especiais, itálicos e bolds devem ser configurados posteriormente
*/	
address, caption, cite, code, dfn, em, th, var { 
	font-style: normal; 
	font-weight: normal; 
	}

/**
* Seta as propriedades em default das correções de texto
*/
ins { 
	text-decoration: none; 
	}

del { 
	text-decoration: line-through; 
	}