@import url(https://fonts.googleapis.com/css?family=Lato:400,900);

*{
       margin: 0;
	padding: 0;
	}

@font-face{ 
	font-family: 'BebasNeueRegular'; 
		src: url('font/bebasneue-webfont.eot'); 
		src: url('font/bebasneue-webfont86d7.eot?iefix') format('eot'), 
		url('font/bebasneue-webfont.woff') format('woff'), 
		url('font/bebasneue-webfont.ttf') format('truetype'), 
		url('font/bebasneue-webfont.svg#webfont') format('svg'); 
	} 

body { 
	font: normal 12px/14px Verdana, Geneva, sans-serif;
	background: #fff url(images/bg_degrade.jpg) repeat-x top left !important; 
	text-align:center;
	}
hr{
	display: none!important;
	} 
h2{
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	font-size:24px;
	line-height:24px;
	color: rgb(27,68,60);
	}
p { 
	margin-top: 0; 
	}
a {text-decoration:none;}

h3 { 
	margin-bottom: 0; 
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	}

strong, b {font-weight:bold;}
em {font-style:italic;}

.mais{position:relative;}
.box .mais{float:right;margin:5px 0;padding:5px 0 0 0;}

.navigation-links {
	width:615px;
	height:50px;
	position:relative;
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	font-size:18px;
	line-height:18px;
	color:#1B443C;
	margin:0 auto;
	padding:0 0 50px 0;
}

.navigation-links a:link,
#secondary a:link,
p a:link,
.mais:link,
.temas a span{ 
	text-decoration: underline; 
	color: rgb(0, 200, 140);
	}

.navigation-links a:visited,
#secondary a:visited,
p a:visited,
.mais:visited,
.temas a:visited span{ 
	text-decoration: underline; 
	color: rgb(153, 153, 153);
	}	
	
.navigation-links a:hover, .navigation-links a:active, .navigation-links a:visited:hover, .navigation-links a:visited:active,
#secondary a:hover, #secondary a:active, #secondary a:visited:hover, #secondary a:visited:active,
p a:hover, a:active, a:visited:hover, a:visited:active{ 
	text-decoration: none; 
	color: rgb(0, 200, 140);
	}

.nav-previous,
.nav-next {
	position:relative;
	width:50%;
	height:50px;
}
.nav-next {
	float:right;
	text-align:right;
}
.nav-previous {float:left;}


form#comment-form{
	float:left;
	margin:0 0 30px;
	}

form#comment-form label {
	font-family:BebasNeueRegular !important;
	font-size: 18px;
	line-height:18px;
	color: rgb(27, 68, 60);
	float: right;
	margin: 0 0 0 20px;
	width: 250px;
	}

form#comment-form .form-section {margin:12px 0 0;}

form#comment-form .label-tit{
	font-size: 24px !important;
	margin:0 0 20px;
	*padding:3px 0;
	}
	
form#comment-form input, form#comment-form textarea{
	background-color: rgb(222, 252, 241);
	border:1px solid rgb(0, 200, 140);
	margin: 0 0 0 20px;
	}

form#comment-form .coment-camp{
	width: 530px;
	height: 145px;
	
	}

form#comment-form .box-info-camp{
	width:255px;
	float:left;
	margin-right:25px;	
}
form#comment-form .info-camp{
	width: 260px;
	height: 25px;
	margin-right:10px
	}

form#comment-form .btn-formcoment{
	width: 125px;
	height: 25px;
	float:right;
	font:normal 18px BebasNeueRegular !important;
	color: rgb(255, 255, 255);
	background-color: rgb(27, 68, 60);
	border:none;
	margin:20px 60px 0 0;
	}

form#comment-form .btn-formcoment:hover{
	background-color: rgb(0, 200, 140);
	cursor:pointer;
	}

form#comment-form small {
	font-size:75%;
	
	}
.divisao-box{
	background: transparent url(images/bg_square_gray.gif) repeat;
	width:615px;
	height:20px;
	float:left;
	margin:30px 0;
	}

#destrave{width: 100%; min-height: 595px; height: auto !important; margin: 0 auto !important; text-align:left; background: transparent url(images/bg_destrave.png) no-repeat top center !important;}
	
#topo{width:988px; height:120px; margin:0 auto; padding:0 48px 0 0;}
	
#introDestrave{width: 615px;float: right;}
		
h1#logotypeDestrave a{width:373px; height:95px; text-indent: -9999px; background: transparent url(images/logo_dstrv.png) no-repeat; float:left;}
	
ul#menu-main{
	list-style: none;
	float:right;
	}

ul#menu-main li{
	float:left;
	margin-left:25px;
	}

.current-menu-item,		
ul#menu-main li a{
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	text-decoration: none;
	font-size: 24px;
	line-height:24px;
	color: rgb(27, 68, 60);
	}

.current-menu-item,
ul#menu-main li a:active, ul#menu-main li a:hover{
	text-decoration:line-through;
	}
	
form#searchDestrave{
	width: 391px;
	height: 25px;
	float: right;
	margin:22px 2px 0 0;
	padding-left:20px;
	background: transparent url(images/ponta_input_search.html) no-repeat 0 0;
	}
	
form#searchDestrave input{
	height: 25px;
	}
		
form#searchDestrave input#buscarCampo{
	border: none;
	width: 289px;
	background: transparent url(images/camp_input_busca.html) repeat-x 0 0;
	margin:0; padding:0;
	float:left;
	}
		
form#searchDestrave input#buscarBotao{
	float:left;
	border: none;
	color: rgb(255, 255, 255);
	width: 87px;
	margin:0 0 0 -5px !important;
	background: transparent url(images/btn_busca.html) no-repeat 0 0;
	}
		
form#searchDestrave input#buscarBotao:hover{
	background: transparent url(images/btn_busca.html) no-repeat 0 -27px;
	}
		
	
	
#contentDestrave, #conteudo {
	width:1036px;
	min-height:700px;
	height: 100%;
	height: auto !important;
	display:table;
	margin: 0 auto;
	background: transparent url(images/bg_content_bottom.gif) no-repeat 100% 100%;
	}

#conteudo{
	width: 940px;
	background: none;
	position:relative;
	}

/* Box Destaque Principal */
.titulo {
	height:73px;
	background: transparent url(images/bg_tit_principal.png) no-repeat top left;
	margin:0 0 22px 0;
	padding: 0 0 0 30px;
	width:910px;
	position:relative;
	float:left;
	}


.destaquePrincipal{
	*min-height:650px;
	float:left;
	}

.destaquePrincipal .box-destaque-principal{
	position:relative;
	float:left;
	}

.box-destaque-principal{float:left; position:relative; width:490px;}

.box-destaque-principal p span,
.box-destaque-principal p span a{
	color: #333333;
    line-height: 18px;
    margin: 0 0 10px;
	text-decoration:none;
	}

/*.box-destaque-principal .thumb-grande {margin-top:35px;}*/

.box-internas {width:620px;}

.destaquePrincipal p span a:hover, .destaquePrincipal p span a:active, .destaquePrincipal p span a:visited:hover, .destaquePrincipal p span a:visited:active{
	text-decoration:underline;
	color: #333333;
	}

.box-destaque-principal h2{
	font-size:48px;
	padding:10px 0 25px;
	color: rgb(27,68,60) !important;
	}

.box-destaque-principal p{
	line-height: 18px;
	color: rgb(51,51,51);
	float:left;
	}

.box-destaque-principal span {float:left;}

/* Box Destaques */
#chamadasDestaques{
	width:940px;
	background: transparent url(images/bg_square_gray.gif) repeat;
	margin:30px 0;
	float:left;
	position:relative;
	padding:0 0 20px;
	}

/* Box Destrave Internauta! */
#destraveInternauta{position:relative; float:right; width:380px;}
#destraveInternauta ul{display:block;float:left; list-style:none;border-top:2px solid #00FFA0;}
#destraveInternauta ul li{padding:5px 10px; border-bottom:2px solid #00FFA0; width:360px;}
#destraveInternauta ul li span{color:rgb(153, 153, 153);}

/* Títulos */
	.box h2{background:url("images/bg_tit.png") no-repeat scroll left top transparent;height:63px; padding:30px 0 0 0;float:left;}
	.box-sidebar h2{margin: 30px 0 0 0;float:left;}
	.box h2 a, .box h2 a:visited,
	.box-sidebar h2 a, .box-sidebar h2 a:visited
	{font-size:24px; color:#1B443C; text-decoration:none;}
	
	.temas .proximotema, .temas .proximotema a, .temas .proximotema:visited,
	.titulo h2, .titulo h2 a, .titulo h2 a:visited
	{font-size:40px; line-height:50px; color: rgb(76, 30, 66) !important; text-decoration:none;}
		
	.titulo h3 a, .titulo h3 a:visited,
	.box h3 a, .box h3 a:visited,
	.box a h3, .box a:visited h3,
	#vcDestrave h3
	{text-transform:uppercase;font-family:BebasNeueRegular, Impact;font-size:18px;color: rgb(27,68,60) !important;text-decoration:none !important; line-height:24px;}

	.titulo h3 a{line-height:18px;}
	
	.titulo h2 a:hover, .titulo h2 a:focus,
	.titulo h3 a:hover, .titulo h3 a:focus,
	.box h2 a:hover, .box h2 a:focus,
	.box-sidebar h2 a:hover, .box-sidebar h2 a:focus,
	.box h3 a:hover, .box h3 a:focus,
	.box a:hover h3, .box a:focus h3
	{text-decoration:underline !important;}
	
	.temas .proximotema {background:none;padding:0;float:left;position:relative;height:auto;margin:0 0 10px 0;}
	.temas .proximotema a {line-height:40px;}
	
	.subtitulo {line-height:18px;font-size:18px;color:#1B443C;}
	
/* Carrossel */
.carousel{
	width:940px;
	/*height:220px;*/
	background-color: rgb(51, 51, 51);
	margin:0;
	float:left;
	}
.carousel ul {
		/*height:230px;*/
	}
.carousel ul li {	
	width:160px;
	padding:10px 10px 10px 0;
	position:relative;
	display:inline;
	float:left;
	list-style:none;
	}

.carousel-wrap {
    display: inline-block;
    margin: 0 0 0 50px;
    width: 840px;
	/*height:240px;*/
}

.box-destaques{
	width:160px;
	/*height: 200px;*/
	float:left;
	}


	.box-destaques h2{
		position:relative;
		padding:10px 0 0 0;
	}
	.box-destaques h2 a{
		margin-bottom: 5px;
		color: rgb(255, 255, 255);
		text-decoration:none;
		font-size:18px;
		line-height:20px;
		}

	.box-destaques h2 a:hover, .box-destaques h2 a:active, .box-destaques h2 a:visited:hover, .box-destaques h2 a:visited:active {
		margin-bottom: 5px;
		color: #00c88c;
		}

	.box-destaques h2 a:visited{
		color:#cccccc;
		}

	.box-destaques h2 a span{
	    font: 12px/14px Verdana,Geneva,sans-serif;
		color: #999999;
		display:block;
		text-transform:none;
		}

	.box-destaques h2 a:hover span, .box-destaques h2 a:visited:hover span {
		color: rgb(255, 255, 255);
		text-transform:none;
		}
	
	.box-destaques h2 a:visited span{
		color: rgb(102, 102, 102);
		text-transform:none;
		}
		
.carousel .previous {
	position:absolute;
}

.carousel .previous, .carousel .next{
	width:40px;
	height:120px;
	margin:0;
	background: rgb(77, 77, 77) url(images/btn_avanc_volt.gif) no-repeat 0 0 !important;
	text-indent:-9999px;
	overflow:hidden;
	cursor:pointer;
	display:inline-block;
	}
	
.carousel .previous:hover{
	background-position: 0 -120px !important;
	}

.carousel .previous:active{
	background-position: 0 -240px !important;
	}
	
.carousel .next{
	background-position:-40px 0 !important;
	float:right;
	}

.carousel .next:hover{
	background-position:-40px -120px !important;
	}

.carousel .next:active{
	background-position: -40px -240px !important;
	}
.carousel .disabled {
    cursor: default;
    opacity: 0.1;
}

/* Box Twitter - Index */

#twitterDestrave{width: 380px; float:left;}
	#twitterDestrave > span{ width:285px; padding:30px 0 0 30px; float:left; color:#333333; }
	.widget_tweetblender{padding:0 0 20px 0;background: transparent url(images/bg_square_green.gif) repeat;float:left;}
	div.tb_tweet{ width:380px; float:left; border-bottom:2px solid rgb(0, 255, 160); padding:10px 0 20px ; background: rgb(255, 255, 255); color: #666666;}
	
	.tb_archivelink {
		display:block;
		padding:5px 5px 20px;
		background: rgb(255, 255, 255);
		width:100%;
		text-align:right;
		}

/* Box Facebook - Index */
#facebookDestrave{width: 380px; height:73px; float:right;padding:40px 0 80px 0;}
#curtir{margin:0 0 0 20px; padding:5px; position:relative; width:200px;float:left;border-bottom:2px solid #00FFA0;border-top:2px solid #00FFA0;}

/* Box Temas */
.temas {width:240px;float:left; padding:0 0 20px 0; position:relative;margin:0 40px 80px 0;border-bottom:2px solid #00FFA0;}
.temas ul {list-style:none; float:left;}
.temas ul li{ width:220px; float:left; margin:10px 0;}

/* Box Se Liga - Index */

#seligaDestrave{
	width: 350px;
	float:right;
	height:375px;
	position:relative;
	margin:0 15px 0 0;
	}
		
	.box-sidebar > span{
		float:right;
		margin:25px 0 0;
		color:#333333;
		width:150px;
		}
		#seligaDestrave > span{width:260px;}
		
	.box-sidebar ul, #seligaDestrave ul{list-style:none; margin-top:35px; float:left;}
	.box-sidebar ul{border-bottom:2px solid #00C88C;}
		
	#seligaDestrave ul li{
		width:345px;
		float:left;
		background-color: rgb(255, 255, 255);
		margin:10px 0;
		}
	
	 * html #seligaDestrave ul li {  /* make hover effect work in IE */
		width: 400px;
		}

	#chamadasReportagens a:hover img,
	.box-destaques a:hover img, .box-destaques a:visited img,
	.thumb-destaques a:hover img, .thumb-destaques a:visited img,
	.box-sidebar ul li:hover .thumb-pequeno img, .box-sidebar ul li:visited .thumb-pequeno img,
	#seligaDestrave ul li:hover .thumb-pequeno img, #seligaDestrave ul li:visited .thumb-pequeno img{
        /* Required for IE 5, 6, 7 */
		zoom: 1;
        
		/* for IE 8 & 9 (more valid) */
        -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

        /* This works in IE 8 & 9 too */
        filter: alpha(opacity=50);

        /* Older than Firefox 0.9 */
        -moz-opacity:0.5;

        /* Safari 1.x (pre WebKit!) */
        -khtml-opacity: 0.5;

        /* Firefox 0.9+, Safari 2?, Chrome any?, Opera 9+, IE 9+ */
        opacity: 0.5;
		}


#chamadasReportagens ol li h2 a, #chamadasReportagens ol li h2 a:visited {color:#1B443C;}
#chamadasReportagens ol li h2 a:hover, #chamadasReportagens ol li h2 a:active {text-decoration:underline;}

#vcDesMatPrinc h3,
#chamadasReportagens ul li h3{
	font-size:24px;
	padding:0 0 5px;
	line-height:30px;
	}
#chamadasReportagens ol li h3 a, #chamadasReportagens ol li h3 a:visited{
	font-size:18px;
	line-height:24px;
	color: #4D4D4D;
	}
#chamadasReportagens ol li h3 a:hover, #chamadasReportagens ol li h3 a:active {color:#4D4D4D; text-decoration:underline;}

#chamadasReportagens ul li h4{
	margin:0 0 10px 0;
	}

.box-sidebar ul li h3,
#seligaDestrave ul li h3{
	margin-bottom: 5px;
	font-size:18px;
	}

#seligaDestrave ul li h4 {
	margin:0 5px;
	}
	
	#vcDesMatPrinc a h3, #vcDesMatPrinc a:visited h3,
	#chamadasReportagens ul li h3,
	.box-sidebar ul li h3,
	#seligaDestrave ul li h3{
	text-transform:uppercase;font-family:BebasNeueRegular, Impact;color: rgb(27, 68, 60);}
	
	#vcDesMatPrinc h3:hover, #vcDesMatPrinc h3:active,
	#chamadasReportagens ul li:hover h3, #chamadasReportagens ul li:active h3,
	.box-sidebar ul li:hover h3, .box-sidebar ul li:active h3,
	#seligaDestrave ul li:hover h3, #seligaDestrave ul li:active h3{
		text-decoration:underline;
		color: rgb(77, 77, 77);
		}
	
	#chamadasReportagens ul li h4,
	#seligaDestrave ul li h4 {
		color: rgb(102, 102, 102);
		}
	
	#chamadasReportagens ul li:hover h4,
	.box-sidebar ul li:hover p,
	.box-sidebar ul li:hover h4,
	#seligaDestrave ul li:hover p,
	#seligaDestrave ul li:hover h4{
		text-decoration:underline;
		}
	
	
	
	#twitterDestrave ul li p a:hover{
		text-decoration:underline;
		}


/* Box Na Rede - Index */
#naredeDestrave{
	margin-top:10px;
	float:left;
	width:100%;
	height:95px;
	background: transparent url(images/bg_tit.png) no-repeat left top;
	}
	
	#naredeDestrave h2{
		margin:30px 30px 0 0;
		float:left;
		}
	
	#naredeDestrave a{
		margin:30px 0 0;
		float:left;
		}
		

#chamadasReportagens{
	display:block;
	float:left;
	position:relative;
	clear:both;
	}

#chamadasReportagens ul, #chamadasReportagens ol{
	list-style:none;
	border-top:2px solid #00C88C;
	float:left;
	width: 100%;
	margin:0 0 25px 0; 
	}

#chamadasReportagens ul li, #chamadasReportagens ol li{
	border-bottom: 1px solid #00FFA0;
	float:left;
	width: 100%;
	margin:25px 0 0;
	padding-bottom:10px;
	}

#chamadasReportagens ul li p,
#chamadasReportagens ol li p{
	font-size: 12px;
	color: rgb(102, 102, 102);
	padding:0 0 10px 0;
	}

.extras-report{
	margin-top: 25px; 
	float:left;
	}

.extras-report li{
	width: 175px;
	height:180px;
	float:left;
	margin:0 10px 30px 0;
	}


.extras-report li .thumb-medio{
	background: transparent url(images/bg_square_green.gif) repeat !important;
	margin-bottom: 5px;
	}

.extras-report li h3{
	font-size: 18px;
	color: rgb(27,68,60) !important;
	padding:5px 0;
	}

.extras-report li p{
	color: rgb(102,102,102) !important;
	margin:5px 0;
	}





.top-tit{
	min-width:62px;
	width: auto !important;
	height: 60px;
	display: block;
	margin-bottom: 20px;
	padding:15px 0 0 20px;
	}

.btn-big{
	float:left;
	height: 50px;
	width: 345px;
	font-size:18px;
	text-decoration: none!important;
	color: rgb(27, 68, 60);
	background: rgb(0, 225, 160) url(images/set_big_btn.gif) no-repeat left;
	margin:105px 0 0 0;
	}


/* Classes de Botões Especiais */

.btn-destaque{
	float:left;
	height: 15px;
	width: 380px;
	background: url(images/seta_verde.png) no-repeat 0 0 #00E1A0;
	margin:20px 0 0 ;
	text-align:center;
	padding:15px 0;
	display:block;
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	color: rgb(27, 68, 60) !important;
	font-size:18px;
	line-height:18px;
	text-decoration:none!important;
	}

.btn-destaque:hover{
	color:#00e1a0!important;
	background-image:none;
	background-color:#1B443C ;
	}

.btn-vermais{
	float:left;
	height: 15px;
	width: 915px;
	background-color: rgb(0,225,160);
	margin:50px 0 ;
	text-align:center;
	padding:15px 0;
	display:block;
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	color: rgb(27, 68, 60) !important;
	font-size:24px;
	line-height:24px;
	text-decoration:none!important;
	}

.btn-vermais:hover{
	color:#00e1a0!important;
	background-color: rgb(27,68,60);
	}


.materia p a span{
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	font-size:18px;
	background: #666666 url(images/bg_btn_extra.gif) no-repeat top right;
	padding:10px 10px;
	color: rgb(255, 255, 255) !important;
	text-decoration:none!important;
	line-height:16px;
	margin:20px 0;
	display:block;
	height:16px;
	width:75%;
	}

.materia p a span:hover{
	background: #333333 url(images/bg_btn_extra.gif) no-repeat bottom right;
	}

/* Classes dos Thumbs */

.thumb-img{
	background: transparent url(images/bg_square_green.gif) repeat top left;
	float: left;
	padding:0 12px 12px 0;
	}


.thumb-grande{
	width: 510px;
	height: 313px;
	background: transparent url(images/bg_square_green.gif) repeat top left;
	float: left;
	padding:0 0 12px 0;
	margin:0 42px 20px 0;
	position:relative;
	}
	
.thumb-medio{
	width:160px;
	height:100px;
	padding:0 12px 12px 0;
	background: transparent url(images/bg_square_gray.gif) repeat;
	float:left;
	margin-right:15px;
	}

.thumb-pequeno{
	width: 80px;
	height: 50px;
	float:left;
	margin-right:10px;
	border:1px solid rgb(230, 230, 230);
	}
	
.thumb-destaques{
	width:160px;
	height: 100px;
	float:left;
	}

.thumb-audio{
	padding:12px 12px 48px 12px;
	background: transparent url(images/bg_square_gray.gif) repeat;
	float:left;
	margin:0 10px 10px 0;
	}

/* Classes de Uso Geral */

.margin-zero{
	margin:0 !important;
	}
	
.margin-botom-50{
	margin-bottom: 50px !important;
	}

.margin-botom-10{
	margin-bottom: 10px !important;
	}


.btn-big:hover {
	color:rgb(0, 225, 180) !important;
	background: rgb(27,68,60) ;
	}

.float-left{
	float:left;
	}

.float-right{
	float:right;
	margin:10px 0 0 0;
	}

.entry-content p{
	line-height:1.5em;
}
	
.clear:after{
	content:".";
	height:0;
	visibility: hidden;
	display: block;
	clear: both !important;
}



#rodape{
	width: 100%;
	height: 85px;
	background: rgb(242, 242, 242) url(images/bg_bottom.jpg) repeat-x top left;

	}
	
	.box-footer{
		width: 930px;	
		margin:0 auto;
		}
		
	address{
		margin:20px 5px 0 0;
		color:rgb(153, 153, 153);
		float:right;
		text-align:right;
		}
	
		address a{
			text-decoration: none !important;
			color:rgb(153, 153, 153) !important;
			}
	
		address a:hover{
			text-decoration: underline !important;
			color:rgb(102, 102, 102) !important;
			}
		
		
.box-footer ul li{
	list-style:none;
	float: left;
	margin:20px 5px 0;
	}

#sidebar{
	width:255px;
	float:right;
	margin-top:90px;
	margin-bottom:50px;
	*margin-bottom:50px;
	}

.box-sidebar{
	background: transparent url(images/bg_tit.png) no-repeat top left;
	float:left;
	padding-bottom:80px;
	width:255px;
	}

.box-sidebar h2{
	margin: 30px 0 0 0;
	float:left;
	}

.box-sidebar h2 + p{
	margin:30px 0 0;
	font-size:11px;
	float:right;
	}


.box-sidebar ul li{
	display:block;
	width: 100%;
	*width:250px;
	float:left;
	margin:10px 0;
	}

.box-sidebar ul li h3{
	font-size:18px;
	padding:0 0 5px;
	color: rgb(27, 68, 60) !important;
	line-height:18px;
	}

#seligaDestrave ul li p,
.box-sidebar ul li p{
	color: rgb(102, 102, 102);
	}
	
#comentarios{
	margin:25px 0 !important;
	float:left !important;
	}
	

.comment-list{
	
	counter-reset: listCounter;
	marign:0;
	float:left;
	}

.comment-list li {
	margin-bottom:20px;
	font-family:BebasNeueRegular, Impact;	
	color: rgb(204, 204, 204) !important;
	font-size:36px;
	float:left; 
	padding:15px 5px 0 3px;
	list-style-position:inside;
	list-style-type:decimal;
	counter-increment: listCounter;
	display:inline-block;
	line-height:36px;
	}

.comment-list li:before {
  content: counter(listCounter) " ";
}

/* Solução para retirar o "." do numeral, no ie funciona apenas do 8 em diante 
.comment-list li:before { 
    content: counter(item) "  "; 
    counter-increment: item 
	}*/
		
.comment-list .dataformat{
	font:italic 12px Georgia, "Times New Roman", Times, serif!important;
	color: rgb(102, 102, 102) !important;
	margin:-25px 0 0 35px; padding:0;
	*margin:5px 0 0 35px;
	}

.comment-list h3{
	font-size:18px;
	color: rgb(0, 200, 140) !important;
	margin:5px 0 0 35px;
	}

.comment-list p{
	font:normal 12px Verdana, Geneva, sans-serif  !important;
	color: rgb(51, 51, 51) !important; 
	margin:10px 0 0 35px;
	clear:both;
	}
	
.materia {
	float:left;
	margin:25px 0;
	width: 620px;
	line-height:1.5em;
	position:relative;
	}

.materia h4 {
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	font-size: 18px;
	color: rgb(200,30,80);
	margin: 1em 0;
	line-height:18px;
	}

.materia p {
	color: rgb(51, 51, 51);
	margin-bottom:1em;
	}

blockquote {display:block;float:left;width:200px;}

.materia blockquote p {
	font:italic 12px/15px Georgia, "Times New Roman", Times, serif ;
	color: #666666;
	margin:0 20px 0.75em 10px;
	line-height:1.5em;
	font-size:16px;
	font-weight:bold;
	}
	.materia blockquote p span {font-size:12px !important;width:200px;display:block;padding:1em 0 0 0;}

.materia .image-att{
	width:150px;
	height:200px;
	background: transparent url(images/bg_square_green.gif)	 repeat;
	padding:0 12px 12px 0;
	float:right;
	margin:0 0 15px 15px;
	position:relative;
	}

.materia div .wp-caption-text{
	left:2px;
	float:left;
	font-size:11px;
	}

.update-materia{
	float: left;
	margin:10px 0;
	border-top:1px solid rgb(0,200,140);
}


.update-materia h2{
	font-size:24px;
	color: rgb(27, 68, 60) !important;
	margin:1em 0 !important;
	padding:0 !important;
	}

.update-materia h3{font-size:18px; line-height:20px;margin:1em 0 0;}

.update-materia span{
	font:italic 12px Georgia, "Times New Roman", Times, serif!important;
	color: rgb(102, 102, 102) !important;
	}

.post, #comments  {float:left;}

#leave-a-reply{
	text-transform:uppercase;
	font-family:BebasNeueRegular, Impact;
	font-size:24px;
	color: rgb(27,68,60) !important;
	margin:0 0 20px;
	line-height:24px;
	}

.comment-title {
	margin: 0 0 5px 10px;
	font-size:14px;
	color:#666666;
	}

.commenter {
    color: #00C88C !important;
    font-size: 18px;
    margin: 0 0 0 15px;
    position: absolute;
	}
	
.comment-meta{
	color: rgb(102, 102, 102) !important;
	margin:0;
	padding:0;
    margin: 0 0 0 100px;
    position: relative;
	top:-30px;
	}
.comment-date, .comment-permalink {padding: 0 .5em 0 0;}
.comment-author {margin: -25px 0 0 35px;}
.comment-unapproved {padding:5px; border-left: solid 1px #999999;}
.comment-reply {
	position:relative;
	margin:10px 0 0 35px;
}
.cancel-comment-reply a,
.comment-meta, .comment-meta a, .comment-meta a:visited,
.comment-reply a, .comment-reply a:visited {
	position:relative;
	color: #333333;
    font-size: 16px;
    line-height: 18px;
	text-decoration:none;
	}
.cancel-comment-reply,
.comment-reply a, .comment-reply a:visited {text-align:right;}

.cancel-comment-reply a:hover,
.comment-reply a:hover, .comment-reply a:active, .comment-reply a:visited:hover, .comment-reply a:visited:active{
	text-decoration:underline;
	color: #333333;
	}


/* Lists: (ul, ol, dl) */
#comments ul, #comments ol, #comments dl { margin-left: 15px; }
.nav { margin-left: 0px; }
.entry-content ul, .entry-content ol, #search-query { margin-left: 25px; }

li ul, li ol { margin-bottom: 0; }
ul ul, ol ol, ul ol, ol ul { margin-bottom: 0; }

ol { list-style-type: decimal; }

ul { list-style-type: disc; }
ul ul { list-style-type: circle; }
ul ul ul { list-style-type: square; }

dt { font-weight: bold; }

.fat li { margin-bottom: 10px; }

/* Tables */
table { border: 1px solid #ccc; border-width: 1px; line-height: 18px; margin: 0 0 22px 0; text-align: left; padding: 0 5px; }
table .even { background: #ddd; }
caption { text-align: left; }
tr { border-bottom: 1px solid #ccc; }
th, td { padding: 5px 3px; }


/* Comments */
.comment-list, .comment-list .children { list-style: none; }
.comment-list { margin-left: 10px; }
.comment { margin-bottom: 40px; }
.comment-list .children { margin-top: 40px; }
.comment-meta { margin-bottom: 10px; }
.avatar { border: 1px #ddd solid; padding: 1px; }

.logado {
	display:block;
	float:left;
	width:500px;
	margin:0 0 0 20px;
}

#socialmedia {
	position:relative;
	float:right;
	height:32px;
	padding:10px 0 0 0;
	}

#socialmedia ul {
	text-align:right;
	list-style:none;
	height:32px;
	overflow:hidden;
	}
#socialmedia ul li {display:inline-block;}

#socialmedia ul li .link-facebook, #socialmedia ul li .link-twitter, #socialmedia ul li .link-youtube, #socialmedia ul li .link-flickr {
	display:block;
	width: 32px;
	height: 32px;
	background: transparent url(images/social2.png) no-repeat 0 0;
	text-indent: -9999px;
	text-align:left;
	overflow:hidden;
	position:relative;
	float:right;
	}

#socialmedia ul li .link-facebook:hover {
	background-position:0 -48px;
	}
	
#socialmedia ul li .link-twitter{
	background-position:-48px 0;
	}

#socialmedia ul li .link-twitter:hover{
	background-position:-48px -48px;
	}

#socialmedia ul li .link-flickr{
	background-position:-96px 0;
	}

#socialmedia ul li .link-flickr:hover {
	background-position:-96px -48px;
	}

#socialmedia ul li .link-youtube{
	background-position:-144px 0;
	}

#socialmedia ul li .link-youtube:hover{
	background-position:-144px -48px;
	}

.taglist ul li {
	width:430px !important;
	margin-right:10px !important;
	margin-left:10px !important;
}

.alignright {
	float:right;
	display:block;
	position:relative;
	margin:10px 0 10px 10px;
	}

.alignleft {
	float:left;
	display:block;
	position:relative;
	margin:10px 10px 10px 0;
}

.aligncenter {
	text-align:center;
	width:100% !important;
}
.aligncenter p, .aligncenter a{
    display: block;
    margin-left: auto;
    margin-right: auto;
	width:100%;
}

.white {color:#ffffff;}

.quem {margin:0 0 4em 0;}

.quem h4 {margin:0 0 1em 0 !important}
.alignright{margin:0 0 0 15px !important}
.article .materia {margin-top:0 !important}

.audiolist {width:100%;}

.menu-main-container {clear:both; position:relative; padding:32px 0 0 0;}
#rss {position:relative; float:right;margin-top:10px;width:80px;height:32px; background:url(images/social2.png) -192px 0;}
#rss:hover { background-position:-192px -48px;}
#rss ul li {float:left; display:block; margin:0 0 0 5px; font-size:9px;}
#rss ul li a, #rss ul li a:visited { display:block;padding:0 5px 0 27px; height:14px; line-height:14px; text-decoration:none; color:#1B443C;}
#rss ul li a:hover { text-decoration:underline; }
.erro {min-height:500px}

#vcDesUltMat h2{font:30px BebasNeueRegular; color: rgb(27,68,60)!important;	margin:0 0 10px 0!important;	padding:0;}
#vcDesMatPrinc{width:600px;	float:left;	margin-bottom:60px;}
#vcDestrave #sidebar {margin-top:0 !important;}
#sidebar #destraveInternauta {width:auto !important;}
#sidebar #destraveInternauta ul {border-top:none !important;}
#sidebar #destraveInternauta ul li {width:235px !important;border-top: 2px solid #00FFA0;border-bottom:none !important; margin:0 !important; padding:10px !important;}

/* help vc no destrave - menu accordion*/ 
#boxHelpMat {padding-bottom:80px;}
	#boxHelpMat .abaHelpMat{border-bottom:2px solid #00C88C;padding-bottom:10px;position:relative;}
	#boxHelpMat h3{font:24px BebasNeueRegular;margin:15px 15px 15px 40px;color: #1B443C;}
	#boxHelpMat a{font:24px BebasNeueRegular;position:absolute;top:0;left:0;cursor:pointer;display:block;}

/* Formulário Envio de Matérias */

div#usp {width: 600px;}

#usp_form, #confirmEnvio {width:600px;background:transparent url(images/bg_square_green.gif) repeat left; padding:0 20px 20px 0;margin:0 0 30px;}
	#usp_list, #confirmEnvio div {border:none;width:560px;background:#fff;padding:20px;}
	#confirmEnvio h2{margin-bottom:20px;}
	#usp ul#usp_list,
	#usp ul#usp_list li { list-style: none outside none; }
	#usp_form label {font-family:BebasNeueRegular;font-size:18px;color: rgb(27,68,60);}
	#usp_form input[type=text], #usp_form textarea{width:550px;height:20px;padding:5px;margin:5px 0 30px;border:solid 1px #e4f9f3;background:#eefdf8 url(images/bg_campo.jpg) repeat-x;
	color:#1b443c!important;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;}
	#usp_form textarea{height:400px;margin:0 !important;}
	#usp_form select{margin:5px 0; padding:8px;background:#eefdf8 url(images/bg_campo.jpg) repeat-x;color:#1b443c!important;border-radius: 8px;-moz-border-radius: 8px;-webkit-border-radius: 8px;}
	#user-submitted-post{width:100px;height:40px;padding:5px;margin:10px 0;background:#fff url(images/btn_enviar.jpg) no-repeat;display:block;cursor:pointer; text-indent:-9999px;}
	#user-submitted-city{width:350px !important;}
	li.usp-city {width:400px;float:left;}
	.usp_submit{border-top: 1px solid #1BE6D7;margin-top:20px;}
	.usp_submit p{float:left;width:350px;margin:10px 105px 0 0; font-weight:bold;}
	.usp_content{margin-bottom:30px;}
	.mediaicons {padding:0 0 0 90px;background:#fff url(images/mediaicons.jpg) no-repeat 0 0;display:block;height:30px;line-height:30px;margin-top:5px;}
	.error {padding:20px;margin: 0 0 20px 0; background:#4C1E42;color:#ffffff;}
	


#confirmEnvio a {text-transform:uppercase;font-family:BebasNeueRegular, Impact;font-size:18px;background: #666666 url(images/bg_btn_extra.gif) no-repeat top right;padding:10px 20px;color: rgb(255, 255, 255) !important;text-decoration:none!important;line-height:16px;margin:20px 0;display:block;height:16px;width:150px;}
#confirmEnvio a:hover{background: #333333 url(images/bg_btn_extra.gif) no-repeat bottom right;}

.cont_list{float:left;position:relative;width:750px;}

.searchform {margin-top:11px; position:absolute;background:url(images/search.png) no-repeat 0 0;height:30px;width:320px;}
.searchform .screen-reader-text {display: none;}
.searchform #s{height:20px;margin: 5px 0 0 15px;width:220px; background:#DEFCF1;position:relative;float:left;}
.searchform #searchsubmit{background:url(images/search_btn.png) no-repeat 0 -30px;width:85px;height:30px;float:right;overflow:hidden;text-indent:-9000px;cursor:pointer;position:relative;}
.searchform #searchsubmit:hover{background-position:0 0;}
.search-error { height: 400px; width:500px; padding:100px 0 0 0; margin:0 auto;}
.search-error .searchform {margin:10px 0 0 106px;}

#jmjrio2013 {position:absolute;top:-90px;right:0;width:140px;height:120px;}

#jmjrio2013 a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	height: 120px;
	width: 140px;
	background: url(images/jmjrio2013.png) no-repeat 0 0;
	text-align:left;
	display:block;
	}
 
#jmjrio2013 a:hover{background: url(images/jmjrio2013.png) no-repeat 0 -120px;}

#share-buttons
{
	float: left;
	margin: 5px 0 25px 0;
	padding: 0;
	width: 100%;
}
#share-buttons:hover li a
{
	color: #888;
}
#share-buttons li
{
	display: inline-block;
	float: left;
	list-style: none;
}
#share-buttons li a
{
	color: #005c99;
	display: block;
	font-size: 18px;
	padding: 5px 10px;
	text-decoration: none;
	transition: color .2s linear;
}
#share-buttons li a:hover
{
	color: #005c99;
}
#share-buttons li+li>a
{
	border-left: 1px solid #d5d5d5;
}
#share-widget-horizontal>ul>li
{
	border-width: 1px 1px 1px 0;
	display: table-cell;
	float: none;
	width: 180px;
}
#share-widget-horizontal>ul>li:hover
{
	background: none;
}
#share-widget-horizontal>ul>li:last-child
{
	border-right: none;
	margin-right: 0;
}
#share-widget-horizontal
{
	box-sizing: border-box;
	clear: both;
	float: left;
	position: relative;
	width: 100%;
}
#share-widget-horizontal>ul
{
	box-sizing: border-box;
	display: table;
	float: none;
	margin: 40px 0;
	position: relative;
	text-align: center;
	width: 100%;
}
#share-widget-horizontal>ul>li
{
	background: #fff;
	border-color: #e1e1e1;
	border-style: solid;
	box-sizing: border-box;
	height: 70px;
	margin: -1px -1px 0 0;
	padding: 0 1.5% 5px;
	text-align: left;
}
#share-widget-horizontal>ul>li iframe
{
	margin: 0;
}
#share-widget-horizontal>ul>li h4
{
	color: #005c99;
	font-family: Lato;
	font-size: 14px;
	letter-spacing: -0.05em;
	line-height: 20px;
	text-transform: uppercase;
	width: 100%;
}
#share-widget-horizontal>ul>li h4 .bold
{
	font-family: Lato;
	font-weight:900;
}
.socialmedia-bottom
{
	display: block;
	margin: 15px auto;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.socialmedia-bottom ul
{
	display: block;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
.socialmedia-bottom ul li
{
	display: inline-block;
	float: left;
	list-style: none;
	margin: 0 15px;
	position: relative;
}
@media screen and (max-width:767px)
{
	#share-buttons li a
	{
		font-size: 2em;
	}
}
@media (max-width:639px)
{
	#share-widget-horizontal>ul>li
	{
		float: left;
		width: 100%;
	}
}
@media (max-width:240px)
{
	#share-widget-horizontal>ul>li
	{
		height: auto;
		padding-top: 5px;
	}
	#share-widget-horizontal>ul>li h4
	{
		display: none;
	}
}

.btn
{
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	background-image: none;
	border: 1px solid transparent;
	white-space: nowrap;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	border-radius: 4px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.custom-icon-xs
{
	display: inline-block;
	float: left;
	height: 16px;
	position: relative;
	width: 24px;
}

.custom-icon-feed
{
	background: url(../cancaonova_theme/images/social-sprite.png) -3px -27px no-repeat;
}

.btn:focus
{
	outline: 5px auto -webkit-focus-ring-color;
	outline: thin dotted;
	outline-offset: -2px;
}
.btn:hover,.btn:focus
{
	color: #333;
	text-decoration: none;
}
.btn:active,.btn.active
{
	background-image: none;
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	moz-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	outline: 0;
	webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.btn.disabled,.btn[disabled],fieldset[disabled] .btn
{
	box-shadow: none;
	cursor: not-allowed;
	filter: alpha(opacity=65);
	moz-box-shadow: none;
	opacity: .65;
	pointer-events: none;
	webkit-box-shadow: none;
}
.btn-default
{
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}
.btn-default:hover,.btn-default:focus,.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
{
	background-color: #ebebeb;
	border-color: #adadad;
	color: #333 !important;
}
.btn-default:active,.btn-default.active,.open .dropdown-toggle.btn-default
{
	background-image: none;
}
.btn-default.disabled,.btn-default[disabled],fieldset[disabled] .btn-default,.btn-default.disabled:hover,.btn-default[disabled]:hover,fieldset[disabled] .btn-default:hover,.btn-default.disabled:focus,.btn-default[disabled]:focus,fieldset[disabled] .btn-default:focus,.btn-default.disabled:active,.btn-default[disabled]:active,fieldset[disabled] .btn-default:active,.btn-default.disabled.active,.btn-default[disabled].active,fieldset[disabled] .btn-default.active
{
	background-color: #fff;
	border-color: #ccc;
}
.btn-default .badge
{
	background-color: #fff;
 	color: #fff;
}

.btn-xs
{
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
	height: auto !important;
	width: auto !important;
}
